/* PART 1 CSS*/

table#part1{
  position: relative;
  width: 80%;
  left: 10%;
  background-color: #FBEEC1;
  border-spacing: 0px;
}

caption{
  background-color: #BC986A;
  border: 1px solid black;
}

thead{
  background-color: #659DBD;
  text-align: center;
}

.bold{
  font-weight: bold;
}

/* PART 2 CSS*/

table#part2{
  position: relative;
  width: 90%;
  left: 5%;
  border-spacing: 8px;
}

.button button{
  border-radius: 10%;
  font-family: Helvetica, arial, sans-serif;
  padding: 10px;
}

#default{
  border: 2px #A9A9A9 solid;
}

#primary{
  border: 2px darkslateblue solid;
  background-color: royalblue;
  color: white;
}

#success{
  border: 2px darkgreen solid;
  background-color: seagreen;
  color: white;
}

#info{
  border: 2px turquoise solid;
  background-color: paleturquoise;
}

#warning{
  border: 2px gold solid;
  background-color: khaki; 
}

#danger{
  border: 2px firebrick solid;
  background-color: tomato;
  color: white;
}

/* PART 3 CSS*/

#outersection{
  width: 80%;
  left: 10%;
  position: relative;
  height: 500px;
  background-color: gainsboro;
}

#circle{
  border-radius: 100%;
  position: relative;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 45%;
  background-color: lightcoral;
}

#part3title{
  position: relative;
  top: 35px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#part3body{
  position: relative;
  top: 45px;
  background-color: white;
  width: 60%;
  left: 20%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#likebutton{
  background-color: limegreen;
  border: green solid;
  border-radius: 20%;
  padding: 10px;
  position: relative;
  top: 50px;
  left: 45%;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}